<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698169034813-o9jjbcejf7lo822vmirgv50ml66luf88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698169034813-o9jjbcejf7lo822vmirgv50ml66luf88</string>
	<key>API_KEY</key>
	<string>AIzaSyC_9gbO6sLCe6YHZDIqhb-xr9CZFHppFIo</string>
	<key>GCM_SENDER_ID</key>
	<string>698169034813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cekongkir</string>
	<key>PROJECT_ID</key>
	<string>uas-softdev</string>
	<key>STORAGE_BUCKET</key>
	<string>uas-softdev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698169034813:ios:a3a05adf8f347a1c1a0254</string>
	<key>DATABASE_URL</key>
	<string>https://uas-softdev-default-rtdb.firebaseio.com</string>
</dict>
</plist>